@import '../../scss/breakpoints.scss';
@import '../../scss/fonts.scss';

.Menu {
  .logo-container {
    text-align: center;

    .logo-img {
      width: 60px;
    }
  }

  .menu-title {
    text-transform: uppercase;

    font: {
      family: $orator;
      size: 24px;
    }
    text-align: center;

    span {
      display: block;
      font-size: 16px;
    }
  }

  .menu-items {
    width: 180px;
    margin-top: 30px;
    margin-bottom: 30px;

    ul {
      text-align: center;

      @include breakpoint($smSize) {
        text-align: left;
      }
      padding-left: 0px;

      @include breakpoint($lgSize) {
        padding-left: 10px;
      }

      list-style: none;

      li {
        font: {
          family: $orator;
          size: 18px;
        }

        .link {
          margin: 0;
          padding: 0;
          transition: 0.5s;
          text-transform: uppercase;
          color: black;
          text-decoration: none;
          &:hover,
          &:active,
          &:focus {
            cursor: pointer;
            color: #b0b0b0;
          }
          &.active {
            color: red;
          }
        }
      }
    }
  }
}
